body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    max-width: 900px;
    margin: auto;
}

.avatar_ {
    border-radius: 50%;
    border: 2px solid #513312;
}

#title, .subtitle, .post_title {
    font-family: Arial, Helvetica, sans-serif;
    color: #513312
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.subtitle_content {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 15px;
    max-width: 900px;
    text-align: justify;
}

a {
    text-decoration: underline;
    color: #513312;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 15px;
    width: 70%;
}

.post {
    background-color: white;
    padding: 15px;
    border: 3px solid #513312;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
}

.list_ {
    list-style: none;
    padding-left: 15px;
}

.list_ li a {
    color: #0b480b 
}